@model Movie

<div class="card shadow">

    <div class="card-header bg-gradient">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Edit Movie Information</h2>
            </div>
        </div>
    </div>

    <div class="card-body mb-2">

        <form method="post">
            <input asp-for="@Model.Id" hidden/>

            <div class="form-floating p-2 col-12">
                <input asp-for="Title" class="form-control border-0 shadow"/>
                <label asp-for="Title" class="m-2 text-dark"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="p-2 col-12">
                <label asp-for="Description" class="ms-2"></label>
                <textarea asp-for="Description" id="tiny" class="form-control shadow"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating p-2 col-12">
                <input asp-for="Director" class="form-control shadow" />
                <label asp-for="Director" class="m-2 text-dark"></label>
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-floating p-2 col-12">
                <input asp-for="YearReleased" class="form-control shadow" />
                <label asp-for="YearReleased" class="m-2 text-dark"></label>
                <span asp-validation-for="YearReleased" class="text-danger"></span>
            </div>
            <div class="form-floating p-2 col-12">
                <input data-bs-theme="dark" class="form-control p-5" type="file" id="formFile">
                <label data-bs-theme="dark" asp-for="CoverUrl" for="formFile" class="ms-2 mt-2 form-label text-dark"></label>

                <span asp-validation-for="CoverUrl" class="text-danger"></span>
            </div>
            <div class="row pt-2 mb-5">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6">
                    <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
                </div>
            </div>

        </form>

    </div>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml"/>
        <script>
            tinymce.init({
                selector: 'textarea#tiny'
            });
        </script>
    }
}
